* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

body, html{
    background-color: #FAF3DD;
    height: 100%;
}

/* NAV IN links.css */

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;        /* Stacks h1 and p vertically */
    justify-content: center;       /* Centers content vertically */
    align-items: center; 
    width: 100%;
    height: 90%;
    color: #FBFBF5;
    background-image: url('../images/hanna-morris-Eu_jjK6Z67Q-unsplash-scaled.png'); /* Replace with your image path */
    background-size: cover;      /* Makes the image cover the entire area */
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 100px;
}

.hero p {
    width: 45%;
}

.mainContent {
    text-align: center;
    height: max-content;
}


/* FIRST CONTENT */
.firstContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
    height: 1016px;
    background-image: url("../images/world-map-draw.png");
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.title h1 {
    font-size: 40px;
}

.firstContent .contents {
    display: flex;
}

.firstContent .card img {
    width: 300px;
}

.firstContent .card {
    width: 330px;
    color: #615858;
    margin: 10px;
}

.firstContent .card:nth-child(2) {
    margin-top: 200px;
}



/* SECOND CONTENT */

.secondContent {
    margin: 50px 0;
    height: max-content;
}

.secondContent .spotlightCauses {
    width: 100%;
    height: 785px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.secondContent  .arrowButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px 40px;
}

.secondContent  .arrowButtons button {
    background-color: #FCD384;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    margin: 0px 5px;
    justify-content: center;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.secondContent  .details {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 400px;
    padding: 40px;
    border-top-left-radius: 60px;
    background-color: rgba(251, 251, 245, 0.8); /* Use rgba for semi-transparency */
    text-align: left;
    border-bottom: solid #FCD384 25px;
}
.secondContent  .details h1 {
    font-weight: 600;
}

.secondContent  .details a {
    text-decoration: none;
    float: right;
    color: #1C1D28;
    margin-top: 10px;
}


/* THIRD CONTENT */
.thirdContent {
    margin-top: 50px;
    padding: 50px 200px;
}

.thirdContent .contents {
    justify-content: center;
    display: flex;
}

.thirdContent .card {
    width: 350px;
    height: 380px;
    margin: 20px;
    position: relative;
    overflow: hidden; /* Ensures pseudo-element stays within the card */
    border-bottom: solid #FCD384 15px;
}

.thirdContent .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/natureCleaning.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; /* Set opacity for the background image only */
    z-index: -1; /* Position it behind the card content */
}


.thirdContent .card button img {
    width: 30px;
    margin: 2px 0px 0px 1px;
}

.thirdContent .card button {
    background-color: #FCD384;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    left:0;
    margin: 40px 20px;
    cursor: pointer;
}

.thirdContent .card .description {
    position: absolute;
    bottom: 0;
    text-align: left;
    margin: 30px 20px;
    color: black;
}

.thirdContent .seeMoreButton {
    float: right;
    width: 100px;
    margin: 0px 20px;
    padding: 10px;
    background-color: #FCD384;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}



/* FOURTH CONTENT */
.fourthContent {
    margin: 50px auto;
    padding: 50px 0;
    width: 70%;
}

.fourthContent .card {
    width: 100%;
    height: 330px;
    background-color: #FBFBF5;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    text-align: left;
    margin: 40px 0px;
}

.fourthContent .card .details {
    width: 40%;
    padding: 30px;
}

.fourthContent .card .details .header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.fourthContent .card .details .header .title .status {
    color: #DDA840;
}

.fourthContent .card .details .description {
    margin-top: 10px;
    font-size: small;
}

.fourthContent .details .infos {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
    margin-top: 10px;
}

.fourthContent .details .infos-date img {
    width: 30px;
    margin-right: 20px;
}

.fourthContent .details .infos-place img {
    width: 25px;
    margin-right: 22px;
    margin-left: 3px;
}

.fourthContent .seeMoreButton {
    width: 100px;
    margin-top: 20px;
    padding: 10px;
    background-color: #FCD384;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

.fourthContent .view-event-more {
    font-size: large;
    width: 150px;
}

.fourthContent img {
    width: 70%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}


/* FIFTH CONTENT */
.fifthContent {
    margin: 50px auto;
    padding: 50px 0;
    width: 70%;
}

.fifthContent p {
    margin: 50px 0;
}


/* FOOTER IN links.css */



