* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body, html{
    background-color: #FAF3DD;
    height: 100%;
}
nav {
    background-color: #1C1D28;
    padding: 20px 30px;
    width: 100%;
    height: 10%;
    height: auto;
}

nav .links {
    float: right;
    margin: -10px;
}

nav .links a {
    margin: 0 10px;
    color: #FBFBF5;
    text-decoration: none;
}

.links button {
    background-color: #FCD384;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

.hero {
    text-align: left;
    padding: 50px;
    color:#FBFBF5;
    font-size: 1.5rem;
    background-image: url('../images/hanna-morris-Eu_jjK6Z67Q-unsplash-scaled.png');
    background-position: 50%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.mainContent {
    display: flex;
    width: 100%;
    padding: 2%;
}

.Left-Side {
    width: 70%;
    margin: 1%;
}
.Left-Side .header{
    display: flex;
    width: 100%;
}
.Left-Side .header .header-date{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
}
.Left-Side .header .header-date > *{
    margin-right: 20px;
    color: #615858;
}
.Left-Side h4{
    color: #DDA840;
}

.Left-Side img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.Left-Side p {
    margin-top: 20px;
}

.Right-Side {
    display: block;
    margin: 1%;
    width: 30%;    
}

.Right-Side .section {
    background-color: #FCD384;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    margin-bottom: 40px;
    position: relative;
}
.Right-Side .section button {
    background-color: #1C1D28;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: larger;
    color: #FBFBF5;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.Right-Side .section .details-header{
    color: #615858;
}

.Right-Side .section .details{
    display: flex;
    align-items: center;
    font-size: medium;
    margin: 10px 0;
}

.Right-Side .section .details img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.Right-Side .section .details p{
    font-size: small;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 200px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 200px;
}
.gmap_iframe {
    width: 100% !important;
    height: 200px !important;
}




/* DONATION FORM MODAL */

/* ADD MODAL */
/* Modal background styling */
.add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
}

/* Modal content box styling */
.add-modal .content {
    position: relative;
    margin: 5% auto;
    background-color: #EBEBEB;
    padding: 20px;
    width: 60%;
    max-height: 80vh;
    overflow-y: auto; /* Allow scrolling within modal if content overflows */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Adds a shadow for a floating effect */
    color: #535359;
    text-align: center;
}
.add-modal .content::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: padding-box; 
}
.add-modal .content::-webkit-scrollbar-thumb:hover {
    background-color: #afafaf;
}
.add-modal .content::-webkit-scrollbar {
    width: 20px;
}


/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.add-modal .content h2 {
    font-size: 30px;
}

.add-modal .content form {
    display: block;
    margin: 20px 0px;
    padding: 20px;
    text-align: left;
    justify-content: left;
}

.add-modal .content form label{
    display: block;
}

.add-modal .content form input[type="text"], input[type="number"], input[type=email], select {
    background-color: #DDDBD7;
    color: #535359;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    font-size: large;
    margin-bottom: 20px;
}
.add-modal .content form input::placeholder {
    color: #C1C0BF;
}

.add-modal .content form .divide-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
}
.add-modal .content form .divide-input .input {
    display: block;
    width: 100%;
}

.add-modal .content form textarea {
    background-color: #DDDBD7;
    color: #535359;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    font-size: large;
    margin-bottom: 20px;
    
    resize: none; /* Prevent resizing */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 200px; /* Set a max height to trigger scrolling when text exceeds this height */
}
.add-modal .content form textarea::placeholder {
    color: #C1C0BF;
}

.add-modal .content form input[type=file]::-webkit-file-upload-button {
    background-color: #DDDBD7;
    border: solid #d1ccc3 1px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}
.add-modal .content form input[type=file]::-webkit-file-upload-button:hover {
    background-color: #d1ccc3;
}

/* Style for the time input */
.add-modal .content form input[type="time"] {
    background-color: #DDDBD7;
    border: solid #d1ccc3 1px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Hover effect for the time input */
.add-modal .content form input[type="time"]:hover {
    background-color: #d1ccc3;
}

/* Style for the date input */
.add-modal .content form input[type="date"] {
    background-color: #DDDBD7;
    border: solid #d1ccc3 1px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Hover effect for the date input */
.add-modal .content form input[type="date"]:hover {
    background-color: #d1ccc3;
}



.add-modal .content form button {
    width: 100%;
    padding: 12px;
    background-color: #FCD384;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.add-modal .content form button:hover {
    background-color: #fbb13c;
}