body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f3ef; /* Softer off-white background */
    color: #333;
}

.registration-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    padding-right: 3.8rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 1rem; /* Adds horizontal space for mobile view */
}

.registration-container h2 {
    text-align: center;
    color: #FCD384;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.2s;
}

.form-group input:focus {
    border-color: #FCD384;
}

.btn {
    width: 107%;
    padding: 0.8rem;
    background-color: #FCD384;
    border: none;
    border-radius: 8px;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #fbc676;
}